.container {
    margin-bottom: 10%;
}

h2 {
    text-align: center;
    margin-top: 3%;
    color: rgb(231, 131, 101);
}

#description {
    font-weight: 90;
    font-size: small;
}

img {
    width: 30%;
    margin-top: 5%;
}
h3{
    text-align: center;
    margin-top: 3%;
    color: rgb(23, 87, 95);
}