<app-header></app-header>
<div class="container" style="width: 100%;">
    <h2>A Tribute To Our Missile-Man of India</h2>
    <div class="mx-auto d-block">
        <img src="assets/kalamSir.jpg" class="mx-auto d-block">
        <div>
            <p style="margin-left: 40%; "><b><i>Dr A.P.J Abdul Kalam</i></b></p>
            <br>
            <table  style="width: 30%; margin-left: 38%; ">
                <tr>
                    <td><b>Born</b></td>
                    <td id="description">15<sup>th</sup> October 1931<br>Rameshwaram, Madras</td>
                </tr>
                <br>
                <tr>
                    <td><b>Died</b></td>
                    <td id="description">27<sup>th</sup> July 2015 (aged 83)</td>
                </tr>
                <br>
                <tr>
                    <td><b>Profession</b></td>
                    <td id="description">Aerospace Scientist<br>Author</td>
                </tr>
                <br>
                <tr>
                    <td><b>Awards</b></td>
                    <td id="description">Padma Bhushan(1981)<br>Padma Vibhushan(1990)<br>Bharat
                        Ratna(1997)<br>HooverMedal(2009)<br>NSS Von Braun Award(2013)</td>
                </tr>
                <br>
                <tr>
                    <td><b>Website</b></td>
                    <td id="description"><a href="http://www.abdulkalam.com/kalam/theme/jsp/guest/index.jsp"
                            style="text-decoration:none;">abdulkalam.com</a></td>
                </tr>
            </table>
            <hr>
            <div>
                <h3>Some of his Great Lines are:</h3><br>
                <ol>
                    <li>
                        Never stop fighting until you arrive at your destined place - that is, the unique you. Have an
                        aim in life,
                        continuously acquire knowledge, work hard, and have perseverance to realise the great life.
                    </li><br>
                    <li>
                        Educationists should build the capacities of the spirit of inquiry, creativity, entrepreneurial
                        and moral leadership among students and become their role model.
                    </li><br>
                    <li>
                        It means, people who are in high and responsible positions, if they go against righteousness,
                        righteousness itself will get transformed into a destroyer.
                    </li><br>
                    <li>Never stop fighting until you arrive at your destined place - that is, the unique you. Have an
                        aim in life, continuously acquire knowledge, work hard, and have perseverance to realise the
                        great life.
                    </li><br>
                    <li>
                        Climbing to the top demands strength, whether it is to the top of Mount Everest or to the top of
                        your career.
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>