.container {
    margin-bottom: 10%;
}

h2 {
    color: rgb(23, 88, 146);
    text-align: center;
    margin-top: 3%;
}

ul {
    margin-top: 5%;
}

h3 {
    color: rgb(23, 88, 146);
    text-align: center;
}

h4 {
    color: rgb(23, 88, 146);
    text-align: center;
}