<app-header></app-header>
<div>
    <div class="container">
        <h2>Personal-Life</h2>
        <div>
            <ul style="list-style-type: none;">
                <li>
                    Kalam was the youngest of five siblings, the eldest of whom was a sister, Asim Zohra (d. 1997),
                    followed
                    by three elder brothers: Mohammed Muthu Meera Lebbai Maraikayar (born 4 November 1916),
                    Mustafa Kalam (d. 1999) and Kasim Mohammed (d. 1995). He was extremely close to his elder siblings
                    and their extended families throughout his life, and would regularly send small sums of money to his
                    older relations, himself remaining a lifelong bachelor.
                </li>
                <br>
                <li>
                    Kalam was noted for his integrity and his simple lifestyle. He never owned a television, and
                    was in the habit of rising at 6:30 or 7 a.m and sleeping by 2 a.m. His few personal possessions
                    included his books, his veena, some articles of clothing, a CD player and a laptop; at his death, he
                    left no will, and his possessions went to his eldest brother, who survived him.
                </li>
            </ul>
            <br>
            <h3>Religious and Spiritual Views</h3>
            <ul style="list-style-type: none;">
                <li>
                    Religion and spirituality were very important to Kalam throughout his life. In fact, he made his own
                    spiritual journey the subject of his final book, Transcendence: My Spiritual Experiences with
                    Pramukh Swamiji.
                </li>
            </ul>
            <br>
            <h4>Islam</h4>
            <ul style="list-style-type: none;">
                <li>
                    A proud and practising Muslim, daily namaz and fasting during Ramadan were integral to Kalam's
                    life. His father, the imam of a mosque in his hometown of Rameswaram, had strictly
                    instilled these Islamic customs in his children. His father had also impressed upon the young Kalam
                    the value of interfaith respect and dialogue. As Kalam recalled: "Every evening, my father A.P.
                    Jainulabdeen, an imam, Pakshi Lakshmana Sastry, the head priest of the Ramanathaswamy Hindu temple,
                    and
                    a church priest used to sit with hot tea and discuss the issues concerning the island." Such
                    early exposure convinced Kalam that the answers to India's multitudinous issues lay in "dialogue and
                    cooperation" among the country's religious, social, and political leaders. Moreover, since Kalam
                    believed that "respect for other faiths" was one of the key cornerstones of Islam, he was fond of
                    saying: "For great men, religion is a way of making friends; small people make religion a fighting
                    tool."
                </li>
            </ul>
            <br>
            <h4>Syncretism</h4>
            <ul style="list-style-type: none;">
                <li>
                    One component of Kalam's widespread popularity among diverse groups in India, and an enduring aspect
                    of
                    his legacy, is the syncretism he embodied in appreciating various elements of the many spiritual and
                    cultural traditions of India. In addition to his faith in the Quran and Islamic
                    practice, Kalam was well-versed in Hindu traditions; he learnt Sanskrit, read the Bhagavad
                    Gita and he was a vegetarian. Kalam also enjoyed writing Tamil poetry, playing the veena
                    (an ancient Indian string instrument), and listening to Carnatic devotional music every day.
                    In 2002, in one of his early speeches to Parliament after becoming President, he reiterated his
                    desire
                    for a more united India, stating that "[d]uring the last one year I met a number of spiritual
                    leaders of
                    all religions ... and I would like to endeavour to work for bringing about unity of minds among the
                    divergent traditions of our country". Describing Kalam as a unifier of diverse traditions, Congress
                    leader Shashi Tharoor stated, "Kalam was a complete Indian, an embodiment of the eclecticism of
                    India's
                    heritage of diversity". BJP leader L. K. Advani concurred that Kalam was "the best exemplar of the
                    Idea of India, one who embodied the best of all the cultural and spiritual traditions that signify
                    India's unity in immense diversity. This was most strikingly evident in the second-to-last book he
                    published, presciently titled Transcendence: My Spiritual Experiences with Pramukh Swami".
                </li>
            </ul>
            <br>
            <h4>Pramukh Swami as Guru</h4>
            <ul style="list-style-type: none;">
                <li>
                    Kalam's desire to meet spiritual leaders to help create a more prosperous, spiritual, and unified
                    India
                    was what initially led him to meet Pramukh Swami, the Hindu guru of the BAPS Swaminarayan
                    Sampradaya,
                    who Kalam would come to consider his ultimate spiritual teacher and guru. The first of eight
                    meetings between Kalam and Pramukh Swami over a fourteen-year period took place on 30 June 2001 in
                    New
                    Delhi, during which Kalam described being immediately drawn to Pramukh Swami's simplicity and
                    spiritual
                    purity. Kalam stated that he was inspired by Pramukh Swami throughout their numerous interactions.
                    One such incident occurred the day following the terrorist attack on BAPS' Akshardham, Gandhinagar
                    complex in September 2002; Pramukh Swami prayed for, and sprinkled holy water upon, the sites of all
                    of
                    the deceased, including the terrorists, demonstrating the view that all human life is sacred. Kalam
                    recalled being moved by Pramukh Swami's equanimity and compassion, citing this incident as one of
                    his
                    motivations for writing Transcendence: My Spiritual Experiences with Pramukh Swamiji. Summarising
                    the effect that Pramukh Swami had on him, Kalam stated that "Pramukh Swami has indeed transformed
                    me.
                    He is the ultimate stage of the spiritual ascent in my life ... Pramukh Swamiji has put me in a
                    God-synchronous orbit. No manoeuvres are required any more, as I am placed in my final position in
                    eternity." Following Kalam's death a month after his final book was released, co-author Arun
                    Tiwari pointed to this passage as potentially prophetic and premonitory of Kalam's death.
                </li>
            </ul>
        </div>
    </div>
</div>
<app-footer></app-footer>